/autoit-dlib-*-com-v*.7z
/autoit-dlib-v*-src.zip
/autoit-opencv-*
/dlib-*
/examples/data/output_folder
/examples/data/*.dat
/examples/data/*.dat.bz2
/examples/data/*.svm
/examples/faces
/examples/video_frames
/node_modules
/opencv-*
BackUp
generated
*build_x64
/*.sublime-workspace
