/autoit-dlib-*-com-v*.7z
/autoit-dlib-v*-src.zip
/autoit-opencv-*
/dlib-*
/examples/data/output_folder
/examples/data/*.dat
/examples/data/*.dat.bz2
/examples/data/*.svm
/examples/data/*.tar.gz
/examples/faces
/examples/video_frames
/node_modules
/opencv/__build__
/opencv/build
/opencv/download
/opencv/install
/opencv/opencv
/opencv/opencv_contrib
/opencv-*
BackUp
generated
*build_x64
/*.sublime-workspace
